.wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #A8DBA8;
}

.flexBox{
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}

header{
  width: 100vw;
  height: 10vh;
  background-color: #757575;
  color: #efefef;
  text-align: center;
  line-height: 10vh;
}

.pure-u-2-3{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 40vw;
  background-color: #EFEFEF;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.video{
  width: 100%;
    text-align: center;
}

.my-video{
  width: 100%;
  text-align: center;
}

.overFlow{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #A8DBA8;
}

.leftBox{
  position: relative;
  width: 40vw;
  height: 80vh;
  overflow: hidden;
}

.msgCont{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 40vw;
  background-color: #EFEFEF;
  border-radius: 20px;
}

.zindex{
  z-index: 10;
}

.specificationCont{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 40vw;
  background-color: #efefef;
  border-radius: 20px;
}

.specification__imgCont{
  height: 70vh;
  width: 36vw;
  margin: auto;
  overflow-y: scroll;
}

.specification__imgCont img{
  width: 35vw;
  height: auto;
}
/* .specification__link{
} */

button{
  display: inline;
}

.specification__flexBox{
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
